.label {
  margin-right: 5px;
  font-size: larger;
}

.ProfilePanelBox {
  margin-top: 20px;
}

table {
  margin-top: 30px;
  border: 1px solid #666;
  width: 100%;
}

th {
  text-align: left;
  background: #f8f8f8;
  font-weight: bold;
  padding: 2px;
}

table.fixed {
  table-layout: fixed;
}

table.fixed td {
  overflow: hidden;
}